<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="win.ots.hello.dao.RoleDao">

    <resultMap id="roleResultMap" type="win.ots.hello.entity.Role">
        <id column="id" property="id"/> 
        <result column="role" property="role"/> 
        <result column="roleName" property="roleName"/> 

        
        
    </resultMap>

    <sql id="roleColumns">
        tbl_role.id AS "id",
        tbl_role.role AS "role",
        tbl_role.role_name AS "roleName"
    </sql>

    <sql id="roleJoins">
        
    </sql>

    <select id="get" resultMap="roleResultMap">
        SELECT
        <include refid="roleColumns" />
        FROM tbl_role <include refid="roleJoins" />
        <where>
        tbl_role.id = #{id}
        </where>
    </select>

    <select id="findList" resultMap="roleResultMap">
        SELECT
        <include refid="roleColumns" />
        FROM tbl_role <include refid="roleJoins" />
        <where>
        </where>
    </select>

    <select id="findAllList" resultMap="roleResultMap">
        SELECT
        <include refid="roleColumns" />
        FROM tbl_role <include refid="roleJoins" />
        <where>
        </where>
    </select>

    <insert id="insert">
        INSERT INTO tbl_role(
            role,
            role_name
        )
        VALUES (
            #{role},
            #{roleName}
        )
    </insert>

    <insert id="insertBatch">
        INSERT INTO tbl_role(
            role,
            role_name
        )
        VALUES
        <foreach collection ="list" item="role" separator =",">
        (
            #{role.role},
            #{role.roleName}
        )
        </foreach>
    </insert>

    <update id="update">
        UPDATE tbl_role SET
        id = #{id},
        role = #{role},
        role_name = #{roleName}
        WHERE id = #{id}
    </update>

    <update id="delete">
        DELETE FROM tbl_role
        WHERE id = #{id}
    </update>

</mapper>